@charset "UTF-8";
body {
    margin: 0;
}

h1 {
    font-size: 40px;
    text-align: center;
    padding: 50px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.entry {
    display: flex;
}

.register, .login {
    padding-top:10px;
}

.register {
    padding-left: 50px;
}

.register h2 {
    padding-bottom: 30px;
}

.register .teacher {
    padding-bottom: 30px;
}

.login {
    padding-left: 200px;
}